body{
    margin: 0;
    padding: 0;
}

.top-bar {
    width: 100vw;
    background-image: linear-gradient( 80deg,  rgb(41, 40, 40) , rgb(100, 100, 100));
    display: flex;
    align-items: center; 
    position: fixed;
}

.btn1{ 
    border: none;
    background : none;
    color: white;
    margin: 0;
    margin-left: 8px;
}

.btn1:hover{
    text-shadow: 0 0 10px white;
}

.dashboard{
    font-family: "Roboto Condensed", serif;
    color: white;
    text-shadow: 0 0 10px white;
    font-size: 20px;
    margin: 5px;
}

.side-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 25%;
    padding-top:34px;
    background-image: linear-gradient( 80deg,  rgba(129, 126, 126, 0.426) , rgba(45, 44, 44, 0.475));  
}

.row-top{
    font-family: "Roboto Condensed", serif;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 10px;
    color: black;
    margin: 0px;
    background-image: linear-gradient( 90deg,  rgba(2, 2, 2, 0.426) , rgba(255, 255, 255, 0.475));  

}

.row{
    font-family: "Roboto Condensed", serif;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 10px;
    color: black;
    margin: 0px;
}

.row:hover{
    border-radius: 10px;
    background-image: linear-gradient( 80deg,  rgba(15, 14, 14, 0.426) , rgba(45, 44, 44, 0.475));;
}

.row-repository{
    font-family: "Roboto Condensed", serif;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 10px;
    color: black;
    margin-bottom: 198px;
     
}

.btn2{ 
    border: none;
    background : none;
    color: rgb(0, 0, 0);
    margin: 0;
    margin-left: 8px;
}


.btn2:hover{
    text-shadow: 0 0 8px rgb(1, 1, 1);
}

.text-input-repo{
    background: transparent;
    border-width: 0 0 2px 0;
    width: 130px;
}

.text-input-repo:active{
    background: transparent;
    border-width: 0 0 2px 0;
}


.line{
    margin: 15px 0;
    background-image: linear-gradient( 160deg,  rgb(38, 35, 35) , rgb(245, 242, 242));  
    width: 80%;
    height:2px;
    border-radius: 5px;
}
.row p {
    margin: 5px;
}

